{% macro button(buttonText, disabled) %}
<button class="secondary">{{ buttonText }}</button>
{% endmacro %}

{% macro disabledButton(buttonText) %}
<button class="secondary" disabled>{{ buttonText }}</button>
{% endmacro %}