{% macro coverUtility(coverText) %}
<div class="l-cover" style="background-color: #000; color: #fff;">
<h1 class="principal txt-venus u-center">{{ coverText }}</h1>
</div>
{% endmacro %}

{% macro coverCenter(coverText) %}
<div class="l-cover" style="background-color: #000; color: #fff;">
<div class="l-center principal">
<h1 class="txt-venus">{{ coverText }}</h1>
</div>
</div>
{% endmacro %}

{% macro coverExtras(coverText,top,bottom) %}
<div class="l-cover" style="background-color: #000; color: #fff;">
<p style="align-self: flex-end;">{{ top }}</p>
<h1 class="principal txt-venus u-center">{{ coverText }}</h1>
<p>{{ bottom }}</p>
</div>
{% endmacro %}