{% macro frame169(frameText) %}
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
<figure>
<div class="l-frame l-frame--16-9">
<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
</div>
<figcaption>{{ frameText }}</figcaption>
</figure>
</div>
{% endmacro %}

{% macro frame32(frameText) %}
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
<figure>
<div class="l-frame l-frame--3-2">
<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
</div>
<figcaption>{{ frameText }}</figcaption>
</figure>
</div>
{% endmacro %}

{% macro frame43(frameText) %}
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
<figure>
<div class="l-frame l-frame--4-3">
<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
</div>
<figcaption>{{ frameText }}</figcaption>
</figure>
</div>
{% endmacro %}

{% macro frameSquare(frameText) %}
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
<figure>
<div class="l-frame l-frame--square">
<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
</div>
<figcaption>{{ frameText }}</figcaption>
</figure>
</div>
{% endmacro %}