{% macro switcherLayout(item1,item2,item3) %}
<div class="l-switcher">
	<div>
		<div>
			<div class="l-box">{{ item1 }}</div>
		</div>
		<div>
			<div class="l-box">{{ item2 }}</div>
		</div>
		<div>
			<div class="l-box">{{ item3 }}</div>
		</div>
	</div>
</div>
{% endmacro %}