{% extends "two-col.njk" %}

{% block main %}
	{{ contents | safe }}
{% endblock %}

{% block sidemenu %}
	<nav>
		<ul class="clean-list" role="list">
			{% for component in collections.components %}
				<li><a class="nav-link" href="/{{ component.path }}">{{ component.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}