{% extends "two-col.njk" %}

{% block main %}
	{{ contents | safe }}
{% endblock %}

{% block sidemenu %}
	<nav>
		<ul class="clean-list" role="list">
			{% for template in collections.templates %}
				<li><a class="nav-link" href="/{{ template.path }}">{{ template.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}