<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="../assets/design-system/styles.css" media="screen" />
	<link rel="stylesheet" href="../assets/design-system/a11y-dark.css" media="screen" />
</head>
<body>
	<div class="wrap">

		{% include "partials/_header.njk" %}

		<main class="l-center l-stack">
			{% block main %}
				This is the default content.
			{% endblock %}
		</main>
	</div>


{% include "partials/_footer.njk" %}
</body>
</html>