<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="../assets/design-system/styles.css" media="screen" />
	<link rel="stylesheet" href="../assets/design-system/a11y-dark.css" media="screen" />
</head>
<body>
	<div class="wrap">
		{% include "partials/_header.njk" %}

		<div class="l-center l-sidebar">
			<div>
				<div class="sidebar">
					{% block sidemenu %}
					{% endblock %}
				</div>
				<div class="not-sidebar">
					<main class="l-stack">
						{% block main %}
						{% endblock %}
					</main>
				</div>
			</div>
		</div>
	</div>

{% include "partials/_footer.njk" %}
</body>
</html>