---
title: Colour
layout: content-styles.njk
---

<h1>{{ title }}</h1>

## Colour contrast
You must make sure that the contrast ratio of text and interactive elements in your service meets level AA of the [Web Content Accessibility Guidelines (WCAG 2.1)](https://www.w3.org/TR/WCAG21/#contrast-minimum).

## Colour palette