---
title: Layouts
nav: layouts
layout: content-styles.njk
---
{% import "views/macros/_iframe.njk" as macroExample %}
{% import "views/macros/layouts/_box.njk" as boxMacros %}

<h1>{{ title }}</h1>

## Box

The box layout is a simple container for grouping content within a defined region. It uses the class `.l-box`.

The box layout deliberately treats padding and borders equally on all sides. If your container needs asymmetrical styling, then it's a container with a more specific purpose and not a box.

### Default box

{{ macroExample.showCase('Default box layout', '../demos/box-default.html') }}

```html
{{ boxMacros.boxDefault('Default box layout') }}
```

### Box without padding

For a box without padding, use the modifier class `.l-box--no-padding`

{{ macroExample.showCase('Box layout with no padding', '../demos/box-nopadding.html') }}

```html
{{ boxMacros.boxNoPadding('Box layout with no padding') }}
```

### Box without border

For a box without a border, use the modifier class `.l-box--no-border`. Because high contrast themes tend to eliminate <code>background-color</code>, this class adds a transparent outline to maintain the box shape. Negative <code>outline-offset</code> moves the outline inside the box perimeter so that it doesn't impact its overall size.

{{ macroExample.showCase('Box layout with no border', '../demos/box-noborder.html') }}

```html
{{ boxMacros.boxNoBorder('Box layout with no border') }}
```

### Box without padding or border

{{ macroExample.showCase('Box layout with no padding and no border', '../demos/box-simple.html') }}

```html
{{ boxMacros.boxSimple('Box layout with no padding and no border') }}
```

## Center

The center layout creates a vertical strip of content inside a given container element, with equal spacing on either side. It uses the class `.l-center`. Apollo uses this technique on the `main` element (without applying the class, in this instance).

Padding on the sides of the center layout maintains a space between its contents and the edges of the parent container, even when the parent is narrower than the `max-width` of the center layout.

The center layout uses an exception to Apollo's global `box-sizing: border-box;` declaration. It uses `box-sizing: content-box;` to prevent the padding from making the content narrower than intended.

The following example uses an inline style to override the default `max-width`. In practice, you should apply an additional class to override any of the default styles in a specific context.

{{ macroExample.showCase('Center layout inside a box layout', '../demos/center.html') }}

```html
<div class="l-box l-box--no-padding">
	<div class="l-center" style="max-width:30rem;">
		Center layout in action
	</div>
</div>
```

## Cluster

The cluster layout suits any group of elements that differ in length, are liable to wrap and need even spacing between them, e.g. lists of tags or groups of buttons. It uses the class `.l-cluster`.

The cluster layout needs an inner container - in the following example it's provided by the `ul`. The cluster items - `li` in this example - sit within this container. Each item has a margin on all sides. Their parent container has a negative margin of the same size as the cluster items. This creates the even spacing between items. `overflow: hidden;` is used to tidy up the edges.

{{ macroExample.showCase('Cluster layout', '../demos/cluster.html') }}

```html
<div class="l-box l-box--no-padding l-box--no-border">
	<div class="l-center">
		<div class="l-cluster">
			<ul class="clean-list">
				<li><a href="#1">Item One</a></li>
				<li><a href="#2">Item Two</a></li>
				<li><a href="#3">Item Three</a></li>
				<li><a href="#4">Item Four</a></li>
				<li><a href="#5">Item Five</a></li>
				<li><a href="#6">Item Six</a></li>
				<li><a href="#7">Item Seven</a></li>
				<li><a href="#8">Item Eight</a></li>
				<li><a href="#9">Item Nine</a></li>
				<li><a href="#10">Item Ten</a></li>
			</ul>
		</div>
	</div>
</div>
```

## Cover

The cover layout creates a container with a minimum height to hold vertically centered content, ideal for "above the fold" hero blocks and sections needing visual prominence. It uses the classes `.l-cover` for the container and `.principal` for the content to be centred.

The following examples use inline styles to specify background and text colors. In practice, you should apply an additional class to override/add to the default styles in a specific context.

### Cover with horizontal centering using a utility class

{{ macroExample.showCase('Cover layout with content horizontally centered with a utility class', '../demos/cover-utility.html') }}

```html
<div class="l-cover" style="background-color: #000; color: #fff;">
	<h1 class="principal txt-venus u-center">Here is the principal content</h1>
</div>
```

### Cover with a nested center layout for horizontal centering

{{ macroExample.showCase('Cover layout with a nested center layout', '../demos/cover-center.html') }}

```html
<div class="l-cover" style="background-color: #000; color: #fff;">
	<div class="l-center principal">
		<h1 class="txt-venus">Here is the principal content</h1>
	</div>
</div>
```

### Cover with optional header and footer content

This example uses an inline style to change the default alignment of the "header". In practice, you should use the CSS stylesheet to target the element directly or via a custom class to achieve this.

{{ macroExample.showCase('Cover layout with optional header and footer', '../demos/cover-extras.html') }}

```html
<div class="l-cover" style="background-color: #000; color: #fff;">
	<p style="align-self: flex-end;">"Header" content, e.g. a close button</p>
	<h1 class="principal txt-venus u-center">The principal content</h1>
	<p>"Footer" content</p>
</div>
```

## Frame

The frame layout is useful for cropping media (images and video) to a specific aspect ratio. It uses the class `.l-frame` and additional modifier classes for pre-defined aspect ratios. These modifier classes determine the amount of vertical padding on the frame, which then acts as a window onto the content inside.

If using `figure` with `figcaption`, make sure to apply the .l-frame class to an inner `picture` or `div` rather than directly to the `figure` to avoid obscuring the `figcaption`.

The following examples use an inline style setting a width, which is purely for the purpose of demonstrating the visual appearance of the frame modifier classes.

### Frame with 16:9 aspect ratio

{{ macroExample.showCase('Frame layout with 16:9 aspect ratio', '../demos/frame-169.html') }}

```html
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
	<figure>
		<div class="l-frame l-frame--16-9">
			<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
		</div>
		<figcaption>An example of the 16:9 frame modifier</figcaption>
	</figure>
</div>
```

### Frame with 3:2 aspect ratio

{{ macroExample.showCase('Frame layout with 3:2 aspect ratio', '../demos/frame-32.html') }}

```html
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
	<figure>
		<div class="l-frame l-frame--3-2">
			<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
		</div>
		<figcaption>An example of the 3:2 frame modifier</figcaption>
	</figure>
</div>
```

### Frame with 4:3 aspect ratio

{{ macroExample.showCase('Frame layout with 4:3 aspect ratio', '../demos/frame-43.html') }}

```html
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
	<figure>
		<div class="l-frame l-frame--4-3">
			<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
		</div>
		<figcaption>An example of the 4:3 frame modifier</figcaption>
	</figure>
</div>
```

### Frame with square aspect ratio

{{ macroExample.showCase('Frame layout with square aspect ratio', '../demos/frame-square.html') }}

```html
<div class="l-box l-box--no-border l-box--no-padding" style="width: 20rem;">
	<figure>
		<div class="l-frame l-frame--square">
			<img src="../assets/apollo-dist/assets/images/steve-johnson--zASKXkwkIY-unsplash.jpg" alt="Multicolored abstract painting">
		</div>
		<figcaption>An example of the square frame modifier</figcaption>
	</figure>
</div>
```

### Internet Explorer/Edge considerations

The default frame layout uses `object-fit: cover` for images and videos. This is not supported in Internet Explorer or Edge prior to version 16 and in Edge 16-18 it is only supported on images. However, the Chromium Edge browser, which does support object-fit, is now available to systems as far back as Windows 7.

For images, a JavaScript workaround is available that swaps the image for a background-image instead, although this removes the accessibility benefits offered by images. Alternatively, you may prefer to forgo `object-fit` and adapt your instance of the frame to rely on absolute positioning and hiding any overflow.

### Image credit

Photo by [Steve Johnson](https://unsplash.com/photos/-zASKXkwkIY) on [Unsplash](https://unsplash.com/)