---
title: Home
layout: content-main.njk

header_text: Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.
footer_text: Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.
---
{% import "views/macros/_colors.njk" as macroColors %}
{% import "views/macros/_iframe.njk" as macroExample %}

# Welcome to the LOGO design system

This design system documents the styles, components and templates available to use on your website.

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```

```html
<ul>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
    <li>List item</li>
</ul>
```

```scss
@mixin stack($measure: 1.5rem) {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	& > * + * {

		margin-top: $measure;

	}

}
```

{% set colors = [
        {
          "color_name"  : "brandColor",
          "color_value" : "#f06d06",
          "color_notes" : "Our main color."

        },
        {
          "color_name"  : "brandHighlight",
          "color_value" : "#d0b000",
          "color_notes" : "For callouts and highlights."
        },
        {
          "color_name"  : "grayDark",
          "color_value" : "#333333",
          "color_notes" : "For things like code block backgrounds."
        }
      ]
    %}

<div class="swatches">
    {% for color in colors %}

      {{
        macroColors.cardSwatch(
         color.color_name,
         color.color_value,
         color.color_notes
        )
      }}

    {% endfor %}
</div>

{{ macroExample.showCase('This is my iframe title', 'demos/examples.html') }}
