{% macro cardSwatch(colorName, sassVariable, colorValue, colorNotes) %}

<tr>
<th scope="row">
<span class="color-swatch"
      style="background-color:{{ colorValue }}">
</span>
<code>
	{{ colorName }}
</code>
</th>
<td>
<code>
	{{ sassVariable }}
</code>
</td>
<td>
	{{ colorValue }}
</td>
<td>
	{{ colorNotes }}
</td>
</tr>
{% endmacro %}