{% macro cardSwatch(colorName, sassVariable, colorValue, colorNotes) %}

<tr>
<th scope="row">
<span class="color-swatch-tile">
<span class="color-swatch"
      style="background-color:{{ colorValue }}">
</span>
<span class="color-name">
	{{ colorName }}
</span>
</span>
</th>
<td>
<span class="color-name">
	{{ sassVariable }}
</span>
</td>
<td>
	{{ colorValue }}
</td>
<td>
	{{ colorNotes }}
</td>
</tr>
{% endmacro %}