{% macro txtMercury(text) %}
<p class="txt-mercury">{{ text }}</p>
{% endmacro %}

{% macro txtVenus(text) %}
<p class="txt-venus">{{ text }}</h2>
{% endmacro %}

{% macro txtEarth(text) %}
<p class="txt-earth">{{ text }}</p>
{% endmacro %}

{% macro txtMars(text) %}
<p class="txt-mars">{{ text }}</p>
{% endmacro %}

{% macro txtJupiter(text) %}
<p class="txt-jupiter">{{ text }}</p>
{% endmacro %}

{% macro txtSaturn(text) %}
<p class="txt-saturn">{{ text }}</p>
{% endmacro %}

{% macro txtPluto(text) %}
<p class="txt-pluto">{{ text }}</p>
{% endmacro %}

{% macro txtBodyAlt(text) %}
<p class="txt-body-alt">{{ text }}</p>
{% endmacro %}

{% macro txtEris(text) %}
<p class="txt-eris">{{ text }}</p>
{% endmacro %}