{% macro txtMercury(text) %}
<h1 class="txt-mercury">{{ text }}</h1>
{% endmacro %}

{% macro txtVenus(text) %}
<h2 class="txt-venus">{{ text }}</h2>
{% endmacro %}

{% macro txtEarth(text) %}
<h3 class="txt-earth">{{ text }}</h3>
{% endmacro %}

{% macro txtMars(text) %}
<h4 class="txt-mars">{{ text }}</h4>
{% endmacro %}

{% macro txtJupiter(text) %}
<h5 class="txt-jupiter">{{ text }}</h5>
{% endmacro %}

{% macro txtSaturn(text) %}
<h6 class="txt-saturn">{{ text }}</h6>
{% endmacro %}