{% macro showCase(title, src, showCode = false) %}
<iframe class="showcase" title="{{ title }}" src="{{ src }}"></iframe>
<small><a href="{{ src }}" target="_blank" rel="noopener noreferrer">Open this <span class="visuallyhidden">{{ title }}</span> example in a new tab</a></small>
{% endmacro %}