---
title: Box layout with no padding or border
layout: showcase.njk
---
{% import "views/macros/layouts/_box.njk" as boxMacros %}

{{ boxMacros.boxSimple('Box layout withn no padding and no border') }}