---
title: Cover layout with content horizontally centered with a utility class
layout: showcase.njk
---
{% import "views/macros/layouts/_cover.njk" as coverMacros %}

{{ coverMacros.coverUtility('Here is the principal content') }}