---
title: Cover layout with a nested center layout
layout: showcase.njk
---
{% import "views/macros/layouts/_cover.njk" as coverMacros %}

{{ coverMacros.coverCenter('Here is the principal content') }}