---
title: Font override classes
layout: showcase.njk
---
{% import "views/macros/_fonts.njk" as fontMacros %}

{{ fontMacros.txtMercury('txt-mercury') }}

{{ fontMacros.txtVenus('txt-venus') }}

{{ fontMacros.txtEarth('txt-earth') }}

{{ fontMacros.txtMars('txt-mars') }}

{{ fontMacros.txtJupiter('txt-jupiter') }}

{{ fontMacros.txtSaturn('txt-saturn') }}

{{ fontMacros.txtPluto('txt-pluto') }}

{{ fontMacros.txtBodyAlt('txt-body-alt') }}

{{ fontMacros.txtEris('txt-eris') }}