---
title: Frame layout with 16:9 aspect ratio
layout: showcase.njk
---
{% import "views/macros/layouts/_frame.njk" as frameMacros %}

{{ frameMacros.frame169('An example of the 16:9 frame modifier') }}