---
title: Frame layout with square ratio
layout: showcase.njk
---
{% import "views/macros/layouts/_frame.njk" as frameMacros %}

{{ frameMacros.frameSquare('An example of the square frame modifier') }}