---
title: Heading styles
layout: showcase.njk
---
{% import "views/macros/_headings.njk" as headingMacros %}

{{ headingMacros.txtMercury('txt-mercury') }}

{{ headingMacros.txtVenus('txt-venus') }}

{{ headingMacros.txtEarth('txt-earth') }}

{{ headingMacros.txtMars('txt-mars') }}

{{ headingMacros.txtJupiter('txt-jupiter') }}

{{ headingMacros.txtSaturn('txt-saturn') }}

