---
title: Sidebar using nested box layouts for spacing
layout: showcase.njk
---
{% import "views/macros/layouts/_sidebar.njk" as sidebarMacros %}

{{ sidebarMacros.sidebarBox('Wide panel', 'Narrow "sidebar" panel') }}